.Title {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px 0px;
    background: linear-gradient(#4d8dcc, #3778bc);
    color: white;
}

body {
    margin: 0;
}

#__next {
    margin-left: 0vw;
}

input[type="radio"] {
    margin: 0vw 1vw;
    transform: scale(1.2);
}


button,
input[type="submit"] {
    border-radius: 5px;
}

#welcome p {
    margin: 10px;
}

#welcome button {
    margin-left: 10px;
    background: #4d8dcc;
    color: white;
    text-transform: uppercase;
    padding: 5px 15px;
    margin-right: 5px;
    border: 0;
}