#BtnBlock {
    margin-top: 20px;
}

.answerOption {
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

#Left {
    margin: 10px;
}

#QuesBlock {
    margin-top: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px lightgray;
}

#QuesBody {
    display: flex;
}

.Questions:first-of-type {
    border-right: 1px solid lightgrey;
}

.Questions {
    width: 50%;
    min-height: 300px;
}

.Questions p {
    font-size: 17px;
}

.Questions:nth-of-type(2) p {
    border-bottom: 1px solid lightgrey;
}

.Questions h4 {
    color: blue;
    border-bottom: 1px solid lightgrey;
    margin: 0;
    padding: 5px 10px;
}

.Questions p {
    padding: 10px;
    margin: 0;
}


#quesNum {
    background: #4d8dcc;
    color: white;
    padding: 10px;
    font-size: 15px;
}

.QuestionCategories {
    padding: 10px 0;
    border-bottom: 1px solid black;
}

.QuestionCategories button,
#BtnBlock button {
    background: #4d8dcc;
    color: white;
    text-transform: uppercase;
    padding: 5px 15px;
    margin-right: 5px;
    border: 0;
}

#BtnBlock button {
    margin-right: 10px;
}

#BtnBlock button:hover {
    background: blue;
}

#Pallete {
    background: lightblue;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 5px;
    height: 50%;
    font-size: 14px;
    margin-top: 5%;
}

#submitBlock {
    margin-top: 5%;
    background: lightblue;
    height: 10%;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center
}

#info {
    height: 20%;
    background: lightblue;
    display: flex;
    box-shadow: 5px 5px 10px lightgray;
    justify-content: space-around;
    align-items: center;
}

#info img {
    width: 50%;
}

#submitBlock button {
    border: 0;
    background: #4d8dcc;
    color: white;
    font-size: 15px;
    padding: 5px 15px;
}

#ParentSec {
    display: flex;
}

#ParentSec section:first-of-type {
    width: 80%;
}

#ParentSec section:last-of-type {
    width: 20%;
}

#Pallete h4 {
    margin: 0;
    background: #4d8dcc;
    color: white;
    padding: 5px;
    font-weight: lighter;
    font-size: 17px;
}

#Pallete button {
    background: transparent;
    border: 0;
    padding: 5px 25px;
    font-weight: bold;

}

.QuestionCategories button:first-of-type {
    background: blue;
    text-transform: capitalize;
}